.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
}

.main-nav .link {
    text-decoration: none;
    cursor: pointer;
}

.main-nav .link button {
    background-color: aqua;
    border: none;
    width: 80px;
    height: 50px;
}

.main-nav .link button:hover {
    background-color: yellow;
}