.exercises {
    display: flex;
    background-color: blue;
    text-align: center;
}

.exercises nav {
    width: 110px;
}

.exercises nav .link {
    text-decoration: none;
    cursor: pointer;
}

.exercises nav .link button:hover {
    background-color: yellow;
}

.exercises nav .link button {
    background-color: red;
    border: none;
    width: 100%;
    height: 45px;
}

.exercises .content {
    flex-grow: 1;
    color: black;
    background-color: white;
}